{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

{{data.intro}}

{% endmarkdown %}

<div class="o-grid-container">
	<div class="o-grid-row">
	    <div data-o-grid-colspan="12">
	        <div class="o-typography-lead">Dynamism index</div>
	        <div class="o-typography-lead--small">All states, 1992-2014</div>
				<div id='sdi-historical-graphic'></div>
			<div class="ft-source">Source: Economic Innovation Group</div>
	   	</div>
	</div>
</div>

{% markdown %}

{{data.textone}}

{% endmarkdown %}

<div class="o-grid-container">
	<div class="o-grid-row">
	    <div data-o-grid-colspan="12">
	        <div class="o-typography-lead">The Great Lakes states that delivered surprising victories for Trump are also among the least dynamic</div>
	        <div class="o-typography-lead--small">Dynamism index by state in 2014</div>
				<div id='sdi-map'></div>
			<div class="ft-source">Source: Economic Innovation Group</div>
	   	</div>
	</div>
</div>

{% markdown %}

{{data.texttwo}}

{% endmarkdown %}

<div class="o-grid-container">
	<div class="o-grid-row">
	    <div data-o-grid-colspan="12">
	        <div class="o-typography-lead">States with a higher share of foreign-born population are also more economically dynamic</div>
	        <div class="o-typography-lead--small">2014</div>
				<div id='sdi-scatter'></div>
			<div class="ft-source">Source: Economic Innovation Group</div>
	   	</div>
	</div>
</div>

{% markdown %}

{{data.textthree}}

{% endmarkdown %}
{% endblock %}
