@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

.ft-source {
  font-size: 12.6px;
  font-family: MetricWeb;
  fill: #c3bcb0;
}
.y-axis path, line {
  fill: none;
  stroke-width: 1.0px;
  stroke: #c3bcb0;
}
.x-axis path, line {
  fill: none;
  stroke-width: 1.0px;
  stroke: #c3bcb0;
}

.voronoi-lines {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1px;
}
.voronoi-hover {
  stroke: #000;
}
#legend-line {
	fill: none;
	stroke: #a5526a;
	stroke-width: 3px;
}
#legend-text {
  font-size: 20px;
  font-family: MetricWeb;
  fill: #a5526a;
  text-shadow: #ffffff;
}
.static-label {
	font-size: 20px;
  font-family: MetricWeb;
}
#recession-text {
	fill: #6b6e68
}
.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff1e0, 1px 0 0 #fff1e0, 0 -1px 0 #fff1e0, -1px 0 0 #fff1e0;
  font-family: MetricWeb;
  font-size: 20px;
}
.voronoi path {
  fill: none;
  pointer-events: all;
}
.axis {
	font-size: 18px;
	font-family: MetricWeb;
	text {
		fill: #6b6e68;
	}
}
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.state-fill {
	fill: none;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 150px;                  
  height: 50px;                 
  padding: 2px;             
  font-size: 14px;     
  background: #FFFFff;
  border: 1px;      
  border-radius: 8px;           
  pointer-events: none;         
}   
